@keyframes fadeinall {
    0% {
      opacity: 1; }
    97% {
      opacity: 0; }
    98% {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      z-index: -1; } }

.menu-bar {
  padding: 0rem;
}

.navbar {
  padding: 3rem 0rem;
}

.navbar-nav {
  margin: 0rem 1rem 0rem auto !important;
  justify-content: right;
}

.nav-item {
  margin: 0rem 1rem;
}

.navbar-brand {
  margin: 0rem !important;
  padding: 0rem !important;
}

body {
  width: 90%;
  margin: auto;
}

.menu-search-bar {
  width: 200px;
  border-radius: 50px;
  margin: 0px 0px 0px 0px !important;
}

footer {
  background-color: black;
  color: white;
  padding: 150px 100px;
  margin-bottom: 3rem;
}

.footer-logo {
  padding: 0px 50px;
  display: flex;
  justify-content: flex-end;
}

.footer-text {
  padding: 0px 50px;
}

.med-section-titles {
  margin-bottom: 20px;
}

.copyright-line {
  margin: 50px 10px;
  display: flex;
  justify-content: center;
}

.page-body {
  margin: 100px 50px;
  min-height: 500px;
}