@keyframes fadeinall {
    0% {
      opacity: 1; }
    97% {
      opacity: 0; }
    98% {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      z-index: -1; } }

.menu-bar {
  padding: 0rem;
}

.navbar {
  padding: 3rem 0rem;
}

.navbar-nav {
  margin: 0rem 1rem 0rem auto !important;
  justify-content: right;
}

.nav-item {
  margin: 0rem 1rem;
}

.navbar-brand {
  margin: 0rem !important;
  padding: 0rem !important;
}

body {
  width: 90%;
  margin: auto;
}

.menu-search-bar {
  width: 200px;
  border-radius: 50px;
  margin: 0px 0px 0px 0px !important;
}

footer {
  background-color: #181819;
  color: white;
  padding: 150px 100px;
  margin-bottom: 3rem;
}

.footer-left,
.footer-right,
.footer-text {
  padding: 20px;
}

.centered {
  margin: 0px auto;
}

.med-section-titles {
  margin-bottom: 20px;
  display: block !important;
}

.copyright-line {
  margin: 50px 10px;
  display: flex;
  justify-content: center;
}

.page-body {
  margin: 100px 50px;
  min-height: 500px;
}

.btn-primary {
  background-color: #6D5649;
  border-color: #6D5649;
  padding: 1rem 2rem;
  margin: 0px;
  font-size: .85rem;
}

.btn-primary:hover {
  color: #6D5649;
  background-color: white;
  border-color: white;
  padding: 1rem 2rem;
  margin: 0px;
  font-size: .85rem;
}

a {
  color: #6D5649;
  padding: 0rem .25rem;
}

a:hover {
  color: #9C9183;
  padding: 0rem .25rem;
}